:root {
  --menu-text: #4a4a4a;
  --page-background: #3cdbc0;
  --principal-text: #ffffff;
  --font: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 155px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-list {
  list-style: none;
  font-family: var(--font);
  color: var(--menu-text);
  font-size: 16px;
  display: flex;
  gap: 20px;
  padding-bottom: 13px;
}

/* MAIN */

.main {
}

.text {
}

/* TABLET AND DESKTOP VERSION */
